.flax{
    display: flex;
    padding: 1.5%;
    width: 95%;
    height: auto;
    border: 3px solid red;
    animation: mymove 5s infinite;
}
.image1{
    position: relative;
    padding: 10px;
}
.p1>p{
    position: absolute;
    top:70%;
    left: 40%;
    font-size: 30px;
    font-weight: 900;
    color: chocolate;
    opacity: 0;
}
.image1>img{
    width: 100%;
    height: 250px;
}
.image1:hover{
    .p1>p{
        opacity: 1;
    }
}
.image2{
    position: relative;
    padding: 10px;
}
.p2>p{
    position: absolute;
    top:70%;
    left: 40%;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    color: chocolate;
}
.image2>img{
    width: 100%;
    height: 250px;
}
.image2:hover{
    .p2>p{
        opacity: 1;
    }
}
.image3{
    position: relative;
    padding: 10px;
}
.p3>p{
    position: absolute;
    top:70%;
    left: 40%;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    color: chocolate;
}
.image3>img{
    width: 100%;
    height: 250px;
}
.image3:hover{
    .p3>p{
        opacity: 1;
    }
}
.image4{
    position: relative;
    padding: 10px;
}
.p4>p{
    position: absolute;
    top:70%;
    left: 40%;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    color: chocolate;
}
.image4>img{
    width: 100%;
    height: 250px;
}
.image4:hover{
    .p4>p{
        opacity: 1;
    }
}
.image5{
    position: relative;
    padding: 10px;
}
.p5>p{
    position: absolute;
    top:70%;
    left: 40%;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    color: chocolate;
}
.image5>img{
    width: 100%;
    height: 250px;
}
.image5:hover{
    .p5>p{
        opacity: 1;
    }
}
@media screen and (max-width: 600px) {
    .flax{
        display: inline;
    }
}
.parallax {
    background-image: url(./image/images.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @keyframes mymove {
    50% {border: 15px solid lightblue;}
  }
